<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
</head>
<body>
  <header>
    {% include header.html %}
  </header>
  <main>
    {{ content }}
    <div class="button-container">
      <button class="3d-flip-button">3D Flip</button>
      <button class="animated-button">Animated</button>
      <button class="enhanced-freeze-fire-button">Enhanced Freeze Fire</button>
      <button class="freeze-fire-button">Freeze Fire</button>
      <button class="glitch-button">Glitch</button>
      <button class="glitch-button2">Glitch 2</button>
      <button class="liquid-button">Liquid</button>
      <button class="neon-button">Neon</button>
      <button class="neon-flicker-button-push">Neon Flicker Push</button>
      <button class="particle-explosion-button">Particle Explosion</button>
    </div>
  </main>
  <footer>
    {% include footer.html %}
  </footer>
  <script src="/assets/js/main.js"></script>
</body>
</html>
